<%- include("./partials/html-head") %>
<%- include("./partials/nav") %>

<main>
  <h1><%= title %></h1>
  <a href="/movies/new">Add a Movie!</a>
  <a href="/movies">Show me all the movies!</a>
</main>

<%- include("./partials/footer") %> 
